*{
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #70e9e9;
}

body,html {
  min-height: 100vh;
  height: 100%;
  background-color: #1a1a40;
}

img{
  max-width: 90%;
}

button{
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: #ded9e7;
  color: #5b36b3;
  border-radius: 3rem;
  border: none;
  transition: 0.3s;
}

button:hover{
  background: #5b36b3;
  color: #ded9e7;
}

.App{
  text-align: center;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1{
  font-size: 64px;
  margin-bottom: 2rem;
  color: #fff;
}

/*Welcome*/

#welcome{
  text-align: center;
  max-width: 500px;
}

#welcome h2, #welcome p{
  margin-bottom: 0.5rem;
}

#welcome h2{
  font-size: 2.5rem;
}

#welcome img{
  margin-top: 2rem;
}

#welcome button{
  margin-top: 2rem;
}

/*Questions*/

#question {
  text-align: center;
  max-width: 500px;
  background-color: #00acac;
  border-radius: 1rem;
  padding: 2rem;
}

#question h2{
  margin-bottom: 2rem;
  color: #fff;
}

#question p{
  margin-bottom: 1rem;
  color: #fff;
}

#question button {
  background: #fff;
  color: #1A1A40;
}

#question button:hover {
  background: #5b36b3;
  color: #fff;
}


/*Option*/

.option{
  background-color: #b314b3;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s;
}

.option:hover{
  opacity: 1;
}

#options-container .option p{
  margin-bottom: 0;
}

.correct {
  background-color: #0bfc03;
  opacity: 0.9;
  font-weight: bold;
}

.wrong {
  background-color: #000000;
  opacity: 0.5;
}

/*GameOver*/

#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px #00acac;
}

#gameover h2, #gameover p{
  margin-bottom: 2rem;
}

#gameover p{
  color: #fff;
}

#gameover img{
  margin: 2rem;
  height: 200px;
}

#gameover  button:hover {
  border: 2px solid #5b36b3;
  background: #5b36b3;
  color: #fff;
}

/*mobile*/

@media screen and (max-width: 600px){
  #question{
      max-width: 350px;
  }
  .option{
    opacity: 1;
  }
  .correct{
    opacity: 0.8;
  }
  .wrong{
    opacity: 0.5;
  } 
  #gameover{
    max-width: 350px;
}     
}

@media screen and (max-width: 450px){
  #question{
      max-width: 250px;
  }
  .option{
    opacity: 1;
  }
  .correct{
    opacity: 0.8;
  }
  .wrong{
    opacity: 0.5;
  }
  #gameover{
    max-width: 250px;
}      
}